
* {
  padding: 0;
  margin: 0;
  
}
.container_big{
  background-color:white ;
  

}
.container {
  padding: 26px;
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 300;
  line-height: 24px;
}

.container p {
  margin-bottom: 15px;
}

.thumbanail {
  width: 350px;
  position: relative;
  box-shadow: 0 0 5px rgba(0, 0, 0, .4);
  background-color: #fff;
  overflow: hidden;
  border-radius: 8px;
  margin-bottom: 10px;
}

.thumbanail::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 8px solid #fff;
  z-index: 2;
  overflow: hidden;
  box-sizing: border-box;
}

.thumbanail img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  transform: scale(1) rotate(0deg);
  transition: all .5s linear;


}

.thumbanail.hover img {
  transform: scale(1.1) rotate(-5deg);

}

.thumbanail.right {
  float: right;
  margin-left: 20px;
}

.thumbanail.left {
  float: left;
  margin-right: 20px;
}

@media screen and (max-width:45rem) {
  .thumbanail.right {
      float: none;
      margin-left: 0px;
  }

  .thumbanail.left {
      float: none;
      margin-right: 0px;
  }

  .thumbanail {
      width: 100%;
  }

}

.para {
  text-align: left;
  margin-left: 5%;
  margin-right: 5%;
  color: solid black;
  font-size: large;
  padding-bottom: 1rem;
}

.heading {
  text-align: center;
  color: maroon;
  padding-bottom: 0.25rem;
  padding-top: 0;
  margin-top: 0;
  background-color: white;
  font-size: 2rem;
}

.heading a:hover {
  background-color: white;
}

.list {
  margin-left: 5%;
  margin-right: 5%;
  color: solid black;
  font-size: 1rem;
}

.scroll {
  font-size: 2.0rem;
  color: maroon;
  height: 3rem;
}






@media screen and (min-width: 45rem) {

  .heading {
      text-align: center;
      color: maroon;
      padding-bottom: 0.25rem;
      padding-top: 0;
      margin-top: 0;
      background-color: white;
      font-size: 2rem;
  }

  .para {
      text-align: left;
      margin-left: 5%;
      margin-right: 5%;
      color: solid black;
      font-size: 1.313rem;
      padding-bottom: 1rem;
  }

  .footer {
      text-align: center;
      font-size: 1rem;
      background-color: maroon;
      color: white;
      padding-top: 1rem;
      padding-bottom: 1rem;
  }

  .footer-heading {
      font-size: 2.0rem;
  }

  .scroll {
      font-size: 2.0rem;
      color: maroon;
  }

  .list {
      margin-left: 5%;
      margin-right: 5%;
      color: solid black;
      font-size: 1rem;
  }

  .navbar-text {
      color: white;
      margin: 0.5rem;
      text-decoration: none;
      font-size: 1rem;
  }

}
.navbar-text {
/* color: rgb(61, 36, 128); */
margin: 0.5rem;
text-decoration: none;
font-size: 1rem;
/* Apply cursor styling */
position: relative;
/* cursor: pointer; */
overflow: visible;
}

/* Add cursor element for navigation links */
.navbar-text::before {
content: "";
position: absolute;
width: 50%;
height: 50%;
background-color: rgba(255, 255, 255, 0); /* Adjust opacity as needed */
top: 10px;
down:10px;
left: 10px;
right:10px;
z-index: -1;
transition: transform 0.3s ease, background-color 0.3s ease; /* Add transition for background-color */
border-radius: 400px; /* Adjust border radius as needed */
}

.navbar-text:hover::before {
background-color: rgba(255, 255, 255, 0.2); /* Show highlight on hover */
transform: scale(3); /* Adjust scale as needed */
}


/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 45rem) {

  .heading {
      text-align: center;
      color: maroon;
      padding-bottom: 0.25rem;
      padding-top: 0;
      margin-top: 0;
      background-color: white;
      font-size: 1.5rem;
  }

  .para {
      text-align: left;
      margin-left: 5%;
      margin-right: 5%;
      color: solid black;
      font-size: 1rem;
      padding-bottom: 1rem;
  }

  .footer {
      text-align: center;
      font-size: 1rem;
      background-color: maroon;
      color: white;
      padding-top: 1rem;
      padding-bottom: 1rem;
  }

  .footer-heading {
      font-size: 1.5rem;
  }

  .scroll {
      font-size: 5.0rem;
      color: maroon;
  }

  .list {
      margin-left: 5%;
      margin-right: 5%;
      color: solid black;
      font-size: 1rem;
  }

}

.btn-color {
  border-color: white;
  border: 0.063rem solid;
  color: white;
  background-color: maroon;
  margin-left: 1rem;
  width: 4rem;
  border-radius: 0.2rem;
}

.btn-color:hover {
  background: rgb(146, 34, 34, 0.5);
  color: white;
  text-decoration: none;
}

a {
  text-decoration: none;
}

a:link {
  color: white;
}

a:hover {
  color: rgb(201, 194, 194);
  text-decoration: none;
}

a:visited {
  color: white;
}

h1 {
  color: maroon;
}